<!--polls/templates/base.html-->

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
</style>

<h1>Опитування:</h1>

{% block content %}
{% endblock %}
